

// COLORS
// $color-bg: #737676;
$color-bg: #191b25;
$color-white: #fff;
//BLACK
$color-black: #000000;
$color-black-2: #191B25;
$color-black-3: #20222c;
$color-black-4: #272933;
// GREY
$color-grey: #E0E2E9;
$color-grey-2: #AEB4C8;
$color-grey-4: #3E404A;
$color-grey-5: #646978;
// BLUE
$color-blue: #268EEC;
$color-blue-2: #0077E2;
$color-blue-3: #21334e;
$color-blue-4: #248DED;
//  GRADIENT
$gradient-title: linear-gradient(90deg, #FFFFFF -0.06%, #268EEC 100.58%);
$gradient-padding: linear-gradient(173deg, #ffffff1a .07%, #20222c 99.8%);
$gradient-border: linear-gradient(179deg, #87888f00 0%, #49494e 100%);
$gradient-card-review-padding: linear-gradient(173deg, #272933, #272933);
$gradient-card-review-border: linear-gradient(179deg, #618DFF4D, #05D7E44D);
$gradient-card-review-border-2: linear-gradient(179deg, #5484FF4D, #0CC3CF4D);
$gradient-card-review-border-hover: linear-gradient(179deg, #618DFF, #05D7E4);

// FONTS
$primary-font: 'Rubik', sans-serif;
$base-font-size: 10px;

// OFFSET
$mobile-container-padding-x: 16px;